body {
  margin: 0;
  padding: 0;
  background: url('https://c.tenor.com/EaVKs4K0iGkAAAAC/black-hole.gif') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: Arial, sans-serif;
  overflow: hidden; 
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent; 
  color: #fff; 
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #ff0000; 
}

.check-icon {
  display: none; /* o icone é aq troxa */
}

.has-content .check-icon {
  display: inline-block; /* esqueça de mostrar o icone n burro */
  color: #00ff00; /* tu dps vai esquecer de apagar esses coment */
  margin-left: 5px;
}

button[type="submit"] {
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #ff9800;
}
